
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail custom">
            <img src="https://ubistatic19-a.akamaihd.net/ubicomstatic/en-us/global/game-info/fc3_naked_boxshot_tablet_138234.jpg" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success custom pull-right" role="button">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
