.thumbnail img{
    max-height:150px;
}

.thumbnail .description{
    color: #7f7f7f;
}

.thumbnail .price{
    font-size: 16px;
    font-weight: bold;
}
.custom {
    border-radius: 0px !important;
}

